.Contact {
    background-color: #FFC72C;
}


.Title {
    margin-top: -1.5em;
    font-weight: bold;
    text-align: center;
    background-color: #FFC72C;
}


.Contact-logo {
    margin-left: 10em;
    margin-right: 10em;
}

.faq-link {
    margin-left: 25em;
    margin-right: 37em;
}


.Body-2 {
    margin-top: 5em;
}

.Body-3 {
    margin-top: 7.8em;
    text-align: center;
    background-color: #FFC72C;
}


